:root {
  --background: #ffffff;
  --background-light: #ffffff;
  --text: #111111;
  --text-primary: #eeeeee;
  --text-secondary: #999999;
  --primary: #111111;
  --secondary: #eeeeee;
  --success: #00cc88;
  --success-light: #ccffee;
  --danger: #ff3333;
  --danger-light: #ffcccc;
  --warning: #ffaa00;
  --warning-light: #ffeecc;
  --info: #00aaff;
  --info-light: #cceeff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --background-light: #222222;
    --text: #eeeeee;
    --text-primary: #111111;
    --text-secondary: #999999;
    --primary: #eeeeee;
    --secondary: #333333;
    --success: #00cc88;
    --success-light: #006644;
    --danger: #ff3333;
    --danger-light: #660000;
    --warning: #ffaa00;
    --warning-light: #664400;
    --info: #00aaff;
    --info-light: #004466;
  }
}

html,
body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: var(--text);
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img,
svg {
  display: block;
}

input,
select {
  color: inherit;
}

input::-webkit-date-and-time-value {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  word-break: keep-all;
  line-height: 1.4;
  letter-spacing: -0.025em;
  font-weight: 600;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 3rem; /* 48px */

  @media (max-width: 1199px) {
    font-size: 2.5rem; /* 40px */
  }

  @media (max-width: 809px) {
    font-size: 2rem; /* 32px */
  }
}

h2 {
  font-size: 2.5rem; /* 40px */

  @media (max-width: 1199px) {
    font-size: 2rem; /* 32px */
  }

  @media (max-width: 809px) {
    font-size: 1.75rem; /* 28px */
  }
}

h3 {
  font-size: 2rem; /* 32px */

  @media (max-width: 1199px) {
    font-size: 1.75rem; /* 28px */
  }

  @media (max-width: 809px) {
    font-size: 1.5rem; /* 24px */
  }
}

h4 {
  font-size: 1.5rem; /* 24px */

  @media (max-width: 1199px) {
    font-size: 1.25rem; /* 20px */
  }
}

h5 {
  font-size: 1.25rem; /* 20px */

  @media (max-width: 1199px) {
    font-size: 1.125rem; /* 18px */
  }
}

h6 {
  font-size: 1rem; /* 16px */
}

p {
  margin: 0;
  line-height: 1.6;
}
